
{% extends 'cal/base1.html' %}

	{%load static %}

	{% block new_link %}
	<link rel = "stylesheet" type = "text/css" href="{% static 'cal/pastdrive.css'%}"/>
	{% endblock %}
	{% block title %}
	<title>
		My Past Drives!
	</title>
	{% endblock%}
	{% block content%}
	<div class="mainboxall">
			 <script type="text/javascript" src="base.js"></script>
			 <script type="text/javascript">
			var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
} 
</script>
         <a class="open" onclick="openNav()">☰</a>  
		<h1>Welcome Kajujadu!</h1>
		
		<div class="futuredrive">
			<h2>Past Drives</h2>

			<div class="slideshow-container">
				<p>djgl</p>
			 	                 <div class="innerbox mySlides fade">
                            	<img src="cal/backgroundimgaboutus.jpg" style="width:100%">
                                <p class="teamname">Team Name->post.teamname</p>
                                 <p class="date">Drive Date->post.date</p>
                                 <p class="venue">Drive Venue->post.venue</p>
                              <p class="description">Description->post.body</p>
            
                            </div>
               

			 	                 <div class="innerbox mySlides fade">
                            <div class="text">
                                <p class="teamname">Team Name->post.teamname</p>
                                 <p class="date">Drive Date->post.date</p>
                                 <p class="venue">Drive Venue->post.venue</p>
                              <p class="description">Description->post.body</p>
            				</div>
                            </div>
               
			 	                 <div class="innerbox mySlides fade">
                            
                                <p class="teamname">Team Name->post.teamname</p>
                                 <p class="date">Drive Date->post.date</p>
                                 <p class="venue">Drive Venue->post.venue</p>
                              <p class="description">Description->post.body</p>
            
                            </div>
               
               

                 <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
 				 <a class="next" onclick="plusSlides(1)">&#10095;</a>

 				 	 <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>	
  		</div>
 				 </div>	

  			
	</div>
	{% endblock %}
